.gallery {
  display: flex;
  flex-wrap: wrap;
  column-gap: 12px;
  row-gap: 12px;
  justify-content: center;
  margin-bottom: 24px;
}

.gallery-item {
  width: 100%;
  height: 200px;
}

@media screen and (min-width: 768px) {
  .gallery-item {
    width: calc((100% - 12px) / 2);
    height: 200px;
  }
}

@media screen and (min-width: 1280px) {
  .gallery-item {
    width: calc((100% - 24px) / 3);
    height: 200px;
  }
}