.filters {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    padding: 16px;
    margin-bottom: 24px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-right: 1px solid blueviolet;
    border-left: 1px solid blueviolet;
    border-bottom: 1px solid blueviolet;
}

.label {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.select {
    width: 150px;
    border-radius: 8px;
    color: blueviolet;
    border-color: blueviolet;
    background-color: #242424;
    transition: transform 0.2s ease-in-out;
}

.select:focus,
.select:hover  {
    outline: none;
    border-color: blueviolet;
    transform: scale(1.05);
}

.reset-btn {
    width: 120px;
    height: 38px;
    background-color: #242424;
    border: 1px solid blueviolet;
    transition: transform 0.2s ease-in-out;
}

.reset-btn:focus,
.reset-btn:hover  { 
    transform: scale(1.05);
}